.techLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 156px;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sideMargin{
  
}
.link{
    height: 56px;
    width: 56px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-center{
    text-align: center;
}
.projects{
    display: flex;
    justify-content: space-around;
}
.red{
    background-color: #FD3535;
}
.projectImg{
    height: 173px;
    width: 270px;
}